@import '../../generalStyles.scss';



.navigation__input{
  outline: none;
  height: 45px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid $pinckColor;
  background: none;
  color: $pinckColor;
  font-size: 16px;
  font-weight: bold;
  background: $backgroundColorSolid;
  width: 80%;
}

@media only screen and (min-width: 600px) {
  .navigation__input{
    max-width: 600px;
    width: 70%;
  }
}