@import '../../generalStyles.scss';

aside{
  position: fixed;
  top: 60px;
  width: 300px;
  height: 100%;
  color: #fff;
  background: $cardColor;
}

ul{
  font-family: 'Cousine', monospace;
  list-style: none;
}

.submenu-title{
  color: $fontLigthColor;
  font-weight: bolder;
}