$backgroundColor: #222738;
$transparentColor: #171E30;
$fontLigthColor: #fff;
$btnColor: #38B0C8;
$cardColor: #292D43;
$pinckColor : #3ce4c8;
$backgroundColorSolid: #222738;

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
  font-family: 'Cousine', monospace;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

#root{
  background: $backgroundColor;
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

main{
  width: 100%;
  min-height:100vh;
  max-height: max-content;
  overflow-x: hidden;

}

.mr-5{
  margin: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


// buttons

.btn{
  cursor: pointer;
  outline: none;
  border: none;
}

.primary-btn{
  color: $fontLigthColor;
  background: $btnColor;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: .5em;
}

// text

h1{
  margin: 0;
  text-transform: uppercase;
  color: $fontLigthColor;
  font-family: 'Cousine', monospace;
}

.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}

// icons

.icon{
  width: 30px;
  cursor: pointer;
}
